@import "../components/breadcrumbs.scss";
@import "../components/mulitisearch.scss";
@import "../components/pagination.scss";

/* Case Study */
.block-casestudy-list {
  .content {
    color: #454545;

    .list {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: calc(100% / 3 - 16px);
        background: #fff;
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        margin-right: 24px;
        margin-bottom: 24px;

        &:nth-child(3n) {
          margin-right: 0;
        }

        .img-wrap {
          overflow: hidden;
          position: relative;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          height: 250px;

          a {
            width: 100%;
            height: 100%;

            img {
              transform: scale(1);
              width: 100%;
              display: block;
              object-fit: cover;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              transition: 0.3s ease-in-out;
              height: 100%;

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .date {
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background: #01b9ea;
            padding: 3px 10px;
            min-width: 145px;
            max-width: 160px;
            height: 23px;
            border-radius: 6px;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin: 0 10px 8px 0;
          }
        }

        .wrap {
          padding: 20px;

          .ttl {
            margin-bottom: 10px;

            a {
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #454545;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: all 0.2s linear;

              &:hover {
                color: var(--color-main);
                transition: all 0.2s linear;
              }
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;

            &-item {
              color: #454545;
              line-height: 20px;
              text-transform: uppercase;
              font-size: 14px;
              font-style: italic;

              &:not(:last-child)::after {
                content: ", \00a0";
              }
            }
          }
        }
      }
    }
  }

  .block-pagination {
    padding-bottom: 120px;
  }

  @media screen and (max-width: 991px) {
    .content {
      .list {
        .item {
          width: calc(100% / 2 - 12px);

          &:nth-child(2n) {
            margin-right: 0;
          }

          &:nth-child(2n + 1) {
            margin-right: 24px;
          }
        }
      }
    }

    .block-pagination {
      padding-bottom: 60px;
    }
  }

  @media screen and (max-width: 575px) {
    .content {
      .list {
        .item {
          width: 100%;
          margin-right: 0;

          &:nth-child(2n + 1) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
/* END: Case Study */
