.block-page-404 {
  .holder {
    .error {
      margin: 100px;

        .head{
          &-ttl {
            font-size: 250px;
            font-weight: bold;
            text-transform: uppercase;
            color: #2f5aa8;
    
            > span {
              color: var(--color-text-primary);
            }
          }

          &-desc {
            color: #b1adad;
          }

          &-lnk {
            text-align: center;
            margin: 20px auto;

            a {
              color: #fff;
              padding: 15px 35px;
              background: #2f5aa8;
              font-size: 20px;
              font-weight: 700;
              border-radius: 30px;
              display: inline-block;
              text-decoration: none;

              > span {
                position: relative;
              }

              span::after {
                content: "\2192";
                opacity: 1;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                transition: 0.5s;
                padding-left: 10px;
              }

              &:hover, &:focus {
                opacity: 0.8;
                cursor: pointer;
              }
            }
          }
        }
      }
  }

  @media screen and (max-width: 767px) {
    .holder {
      .error {
        margin: 0;

        .head {
          &-ttl {
            font-size: 150px;
          }

          &-txt {
            font-size: 22px;
            margin-bottom: 10px;
          }

          &-desc {
            font-size: 15px;
          }

          &-lnk {
            a {
              padding: 10px 25px;
            }
          }
        }
      }
    }
  }
}
