/* Outsource */
.block-service-page {
  /*Banner*/
  .block-service-banner {
    padding: 120px 0 60px;
    color: #454545;

    .ttl {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 50px;
      text-align: center;
    }

    .des {
      max-width: 761px;
      margin: 0 auto;
      text-align: center;
      line-height: 20px;
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 60px 0 30px;

        .ttl {
          font-size: 40px;
          margin-bottom: 35px;
        }
      }
    }

    @media screen and (max-width: 575px) {
      .ttl {
        margin-bottom: 40px;
      }

      .des {
        font-size: 14px;
      }
    }
  }
  /* END: Banner */

  /* Process */
  .block-process {
    padding: 60px 0;

    .process {
      position: relative;
      display: flex;

      .ttl {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: #0d3982;
        font: {
          size: 40px;
          weight: 700;
        }
      }

      &-left,
      &-right {
        width: 100%;

        &-block {
          opacity: 0;
          transition: opacity 0.8s;
          display: flex;
          align-items: start;
          position: relative;

          .process-left-item,
          .process-right-item {
            display: flex;
            align-items: center;
          }

          img {
            opacity: 0;
            transition: opacity 0.8s;
            position: absolute;
            bottom: 0;
          }
        }

        .process-num {
          min-width: 87px;
          height: 87px;
          background-color: #5875a7;
          border-radius: 50%;
          padding: 5px;

          &-in {
            height: 100%;
            border-radius: 50%;
            border: 1px dashed #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font: {
              size: 40px;
              weight: 700;
            }
          }
        }
      }

      &-left {
        &-block {
          justify-content: flex-end;

          .process-left-item {
            &__txt {
              margin-right: 40px;
              text-align: center;
              color: #333;
              line-height: 20px;
            }
          }

          &.process-left-block--first {
            height: 161px;

            img {
              right: 84px;
            }
          }

          &.process-left-block--second {
            height: 189px;
            margin-right: 142px;

            img {
              right: 55px;
            }
          }

          &.process-left-block--third {
            height: 185px;
            margin-right: 142px;

            img {
              right: -55px;
            }
          }

          &.process-left-block--fourth {
            margin-top: -20px;
          }
        }
      }

      &-mid {
        min-width: 148px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 100%;
          opacity: 0;
          transition: opacity 0.8s;

          &:first-child {
            margin-top: 20px;
          }

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }

      &-right {
        &-block {
          .process-right-item {
            &__txt {
              margin-left: 40px;
              text-align: center;
              color: #333;
            }
          }

          &.process-right-block--first {
            height: 159px;

            img {
              left: 83px;
              bottom: 2px;
            }
          }

          &.process-right-block--second {
            height: 199px;
            margin-left: 142px;

            img {
              left: 58px;
            }
          }

          &.process-right-block--third {
            height: 185px;
            margin-left: 142px;

            img {
              left: -59px;
            }
          }

          &.process-right-block--fourth {
            margin-top: -27px;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 30px 0 70px;

        .process {
          flex-direction: column;
          padding-top: 110px;

          .ttl {
            transform: translate(-50%, 0);
            top: 0;
            font-size: 30px;
            margin-bottom: 35px;
            width: 100%;
          }

          img {
            display: none;
          }

          &-left,
          &-right {
            display: flex;
            flex-direction: column;

            &-block {
              margin-bottom: 50px;

              &::after {
                content: url(../../img/services/arrow-down-ico.svg);
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translate(-50%, 0);
              }
            }
          }

          &-left {
            &-item {
              flex-direction: row-reverse;
            }

            &-block {
              justify-content: center;

              .process-left-item__txt {
                min-width: 250px;
                margin-right: 0;
                text-align: start;
                margin-left: 40px;
              }

              &.process-left-block--first,
              &.process-left-block--second,
              &.process-left-block--third {
                height: 100%;
              }

              &.process-left-block--second,
              &.process-left-block--third {
                margin-right: 0;
              }

              &.process-left-block--fourth {
                margin-top: 0;
              }
            }
          }

          &-right {
            flex-direction: column-reverse;

            &-block {
              &.process-right-block--fourth {
                margin-top: 0;
                justify-content: center;
              }

              &.process-right-block--third,
              &.process-right-block--second,
              &.process-right-block--first {
                margin-left: 0;
                justify-content: center;
                height: 100%;
              }

              .process-right-item {
                .process-right-item__txt {
                  min-width: 250px;
                  text-align: start;
                }
              }

              &.process-right-block--first {
                margin-bottom: 0;

                &::after {
                  content: "";
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 575px) {
      .process {
        &-left {
          &-block {
            .process-left-item {
              flex-direction: column;

              .process-left-item__txt {
                margin-left: 0;
                text-align: center;
                margin-bottom: 14px;
              }
            }
          }
        }

        &-right {
          &-block {
            .process-right-item {
              flex-direction: column-reverse;

              .process-right-item__txt {
                margin-left: 0;
                text-align: center;
                margin-bottom: 14px;
              }
            }
          }
        }
      }
    }
  }
  /* END: Process */

  /* Digital Transformation */
  .block-digital {
    color: #454545;
    padding: 95px 0 0;

    .head.head--reverse {
      padding: 35px 0 60px;
    }

    .wrap {
      padding: 60px 0;

      .ttl {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 50px;
        line-height: 23px;
      }

      .des {
        margin-bottom: 50px;
        line-height: 20px;
        text-align: left;
      }

      .content-solution {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;

        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 215px;
          height: 143px;
          padding: 10px;
          border-radius: 10px;
          background: #edfafe;
          border: 1px solid #ebf5ff;
          position: relative;

          &:hover,
          &:active,
          &:focus {
            .popover {
              display: block;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          .img {
            margin-bottom: 14px;
            width: 60px;
            height: 60px;
            object-fit: cover;
          }

          span {
            color: #2f5aa8;
            font-weight: 700;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .content-features {
        display: flex;
        justify-content: space-between;
        color: #454545;

        .item {
          width: 32%;
          margin-right: 2%;
          display: flex;
          flex-direction: column;

          &:last-child {
            margin-right: 0;
          }

          .img-wrap {
            margin-bottom: 17px;
            text-align: center;
            flex: 1;

            img {
              object-fit: cover;
            }
          }

          .txt {
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            text-align: center;
            height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .content-analyze {
        display: flex;
        justify-content: center;
        max-width: 955px;
        width: 100%;
        margin: 0 auto;

        .item {
          text-align: center;
          width: 196px;
          height: 196px;
          border: 1px solid #a9b5c9;
          padding: 17px;
          border-radius: 50%;
          position: relative;

          .popover {
            bottom: 210px;

            &-body {
              .list {
                margin-bottom: 30px;

                .item-popover {
                  &::before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    background: #000;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }

              .des {
                margin-bottom: 0;
                text-align: left;
              }
            }
          }

          &:hover,
          &:focus,
          &:active {
            .popover {
              display: block;
            }
          }

          &:not(:last-child) {
            margin-right: calc((100% - 196px * 3) / 2);

            &:after {
              content: url(../../img/services/down-arrow.svg);
              position: absolute;
              right: calc((100% - 196px * 3) / 4);
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
            }
          }

          .wrap {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: rgba(214, 232, 249, 0.3);
            border: 1px solid rgba(169, 181, 201, 0.3);
            padding: 0;

            img {
              z-index: 1;
              margin-bottom: 14px;
              object-fit: cover;
              width: 55px;
              height: 55px;
            }

            .txt {
              max-width: 150px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #2f5aa8;
              font-weight: 700;
            }
          }
        }
      }

      .popover {
        display: none;
        position: absolute;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        background-color: #fff;
        z-index: 2;
        bottom: 160px;
        width: 400px;
        padding: 38px 16px 25px;

        .arrow {
          bottom: -17px;
          position: absolute;
          display: block;
          width: 20px;
          height: 17px;
          left: 50%;
          transform: translateX(-50%);

          &::before,
          &::after {
            position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
            border-width: 17px 11px 0;
          }

          &::before {
            bottom: 0;
            border-top-color: rgba(0, 0, 0, 0.25);
          }

          &::after {
            bottom: 1px;
            border-top-color: #fff;
          }
        }

        .popover-body {
          .ttl {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #333;
          }

          .list {
            .item-popover {
              margin-bottom: 10px;
              padding-left: 20px;
              text-align: left;
              position: relative;

              &::before {
                content: url(../../img/services/service_icon_tooltip.svg);
                position: absolute;
                left: 4px;
                line-height: 13px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1360px) {
      .wrap {
        .content-solution .item {
          width: 20%;
        }
      }
    }

    @media screen and (max-width: 1180px) {
      .wrap {
        .content-solution .item .popover {
          width: 28vw;
        }

        .content-analyze .item {
          
          &:first-child {
            .popover {
              left: 0;

              .arrow {
                left: 25%;
              }
            }
          }

          &:last-child {
            .popover {
              right: 0;

              .arrow {
                right: 20%;
                left: inherit;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1070px) {
      .wrap {
        .content-solution .item {
          width: 25%;

          .popover {
            width: 40vw;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 30px 0;
      }

      .head.head--reverse {
        padding: 0 0 30px 0;
      }

      .wrap {
        padding: 30px 0;

        &:last-child {
          padding: 30px 0 0;
        }

        .ttl {
          margin-bottom: 25px;
        }
      }
    }

    @media screen and (max-width: 920px) {
      .wrap {
        .content-analyze {
          .item:not(:last-child) {
            margin-right: calc((100% - 196px * 3)/ 3);

            &:after {
              right: calc((100% - 196px * 3) / 6.5);
            }
          }
        }
      }
    }

    @media screen and (max-width: 820px) {
      .wrap {
        .content-analyze {
          .item:not(:last-child) {
            &:after {
              right: calc((100% - 196px * 3) / 8.5);
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .wrap {
        .content-analyze {
          flex-direction: column;
          align-items: center;

          .item:not(:last-child) {
            margin-right: 0;

            &:after {
              left: 50%;
              bottom: -30%;
              top: auto;
              transform: translateX(-50%) rotate(90deg);
            }
          }

          .item {
            margin-bottom: 80px;

            &:first-child {
              .popover {
                left: inherit;

                .arrow {
                  left: 50%;
                }
              }
            }

            &:last-child {
              margin-bottom: 0;

              .popover {
                right: inherit;

                .arrow {
                  right: inherit;
                  left: 50%;
                }
              }
            }

            .wrap .popover {
              min-width: 92vw;
              width: 100%;
            }
          }
        }

        .content-features {
          flex-direction: column;

          .item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 50px;

            .txt {
              height: auto;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .content-solution .item {
          width: 40%;

          .popover {
            width: 55vw;
          }
        }
      }
    }

    @media screen and (max-width: 568px) {
      .wrap .content-solution .item {
        width: 60%;

        .popover {
          width: 92vw;
        }
      }
    }
  }
  /* END: Digital Transformation */

  /* Blockchain */
  .block-blockchain {
    padding: 95px 0 0;

    .wrap {
      padding: 60px 0;
      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #454545;
      }

      .wrapper-item {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0 0;
        justify-content: space-between;

        .item {
          padding: 31px 39px;
          border: 1px solid #fff;
          border-radius: 24px;
          width: calc(50% - 12px);
          background: #edfafe;

          &:first-child {
            background: #f3f4fd;
            width: 100%;
            margin-bottom: 24px;
          }

          &:last-child {
            background: #ebf5ff;
          }

          .subtitle {
            display: flex;
            align-items: center;
            padding-bottom: 27px;

            .image {
              margin-right: 24px;
            }

            .ttl {
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #454545;
            }
          }

          .txt {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #454545;
            word-break: break-word;
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 30px 0;
      }

      .wrap {
        padding: 30px 0 0;

        .wrapper-item {
          padding-top: 25px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .wrap {
        padding-bottom: 0;
      }
    }

    @media screen and (max-width: 700px) {
      .wrap {
        .wrapper-item {
          flex-direction: column;

          .item {
            width: 100%;
            margin-bottom: 24px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 428px) {
      .wrap {
        .title {
          font-size: 19px;
        }

        .wrapper-item {
          .item {
            .subtitle .ttl {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  /* END: Blockchain */

  /* Mobile */
  .block-mobile {
    padding: 95px 0 0;

    .wrap {
      padding: 60px 0 0;

      .wrapper-item {
        .item {
          &:not(:last-child) {
            padding-bottom: 120px;
          }

          .subtitle {
            padding-bottom: 35px;

            .ttl {
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #454545;
              padding-bottom: 50px;
            }

            .txt {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #333;
              padding-bottom: 15px;
            }
          }

          .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 120px;

            &:last-child {
              padding-bottom: 0;
            }

            .image {
              width: calc(50% - 22.5px);
              display: flex;
              flex-direction: column;
              align-items: center;

              .img {
                object-fit: contain;
              }

              .ttl {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                color: #2f5aa8;
                padding-top: 25px;
              }
            }

            .application {
              width: calc(50% - 22.5px);

              .desc {
                display: flex;
                align-items: flex-start;
                padding-bottom: 50px;

                &:last-child {
                  padding-bottom: 0;
                }

                .sub-desc {
                  .ttl {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #454545;
                    padding-bottom: 30px;
                  }

                  .txt {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #333333;
                  }
                }

                img {
                  margin-right: 20px;
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 30px 0;
      }

      .wrap {
        padding: 30px 0 0;

        .wrapper-item .item .subtitle .ttl {
          padding-bottom: 25px;
        }
      }
    }

    @media screen and (max-width: 667px) {
      .wrap {
        .wrapper-item {
          .item {
            padding-bottom: 100px;

            &:not(:last-child) {
              padding-bottom: 60px;
            }

            .subtitle {
              padding-bottom: 45px;
            }

            &:last-child {
              padding-bottom: 0;
            }

            .content {
              flex-direction: column;

              .image {
                width: 100%;

                .ttl {
                  padding: 50px 0;
                }
              }
              .application {
                width: 80%;

                .desc {
                  padding-bottom: 35px;

                  .sub-desc {
                    .ttl {
                      padding-bottom: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 428px) {
      .wrap {
        .wrapper-item {
          .item {
            .content .application {
              width: 100%;
            }
          }
        }
      }
    }
  }
  /* END: Mobile */

  /* Software */
  .block-software {
    padding: 95px 0 0;

    .benefit {
      padding: 60px 0 0;

      .wrapper-item {
        display: flex;
        justify-content: space-between;

        .item {
          width: calc((100% / 3) - 14px);

          .img {
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
          }

          .content {
            text-align: center;

            .ttl {
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #454545;
              padding-bottom: 30px;
            }

            .txt {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #454545;
            }
          }
        }
      }
    }

    .process {
      padding-top: 60px;

      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #454545;
        padding-bottom: 26px;
      }

      .wrap {
        position: relative;
        padding-top: 48px;
        margin-top: 30px;

        .line {
          border-left: 1px dashed;
          height: 100%;
          width: 1px;
          position: absolute;
          left: 27.5px;
          top: 0;
          color: #01b9ea;

          &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #01b9ea;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
          }

          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 18px solid #01b9ea;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .wrapper-item {
          margin-bottom: 120px;

          .item {
            display: flex;
            padding-bottom: 50px;

            &:last-child {
              padding-bottom: 0;
            }

            .number {
              padding: 4px;
              border: 1px solid #01b9ea;
              height: fit-content;
              border-radius: 50%;

              .txt {
                background: #01b9ea;
                padding: 10px;
                border-radius: 50%;
                color: #fff;
                font-size: 20px;
                border: 1px solid #01b9ea;
              }
            }

            .text {
              padding-left: 21px;

              .ttl {
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: #454545;
                padding: 15px 0px 30px;
              }

              .txt {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #454545;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 30px 0;
      }

      .benefit,
      .process {
        padding: 30px 0;
      }

      .benefit {
        .wrapper-item {
          .item {
            .content {
              .ttl {
                font-size: 16px;
              }

              .txt {
                font-size: 15px;
              }
            }
          }
        }
      }

      .process .wrap .wrapper-item {
        margin-bottom: 0;

        .item {
          padding-bottom: 25px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .benefit {
        .wrapper-item {
          flex-wrap: wrap;
          justify-content: space-between;

          .item {
            width: calc(50% - 12px);
            margin-bottom: 40px;

            &:last-child {
              margin-bottom: 0;
              width: 100%;
            }

            .content {
              .ttl {
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 667px) {
      .benefit {
        .wrapper-item {
          justify-content: center;

          .item {
            width: 85%;

            &:last-child {
              width: 85%;
            }

            .content {
              .ttl {
                padding-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  /* END: Software */

  /* Head */
  .head {
    padding: 35px 0 60px;

    &.head--reverse {
      display: flex;
      justify-content: flex-end;

      .holder {
        .content {
          margin: 0 0 0 300px;
        }

        .img {
          left: 0px;
        }
      }
    }

    .container {
      position: relative;

      .img {
        position: absolute;
        width: 354px;
        right: 0;
        z-index: -1;
        top: -69px;
      }

      .content {
        padding: 56px 13px 34px 51px;
        background-color: #358bdb;
        border-radius: 8px;
        max-width: 805px;
        min-height: 249px;
        margin: 0 300px 0 0;
        z-index: 2;

        .title {
          margin-bottom: 30px;

          .ttl {
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            color: #fff;
            padding-top: 0;
          }
        }

        .txt {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          padding-bottom: 20px;
          word-break: break-word;
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        padding: 35px 0;
      }
    }

    @media screen and (max-width: 767px) {
      & {
        padding: 0 0 30px;

        .container {
          .content {
            padding: 43px 13px;
            width: 100%;
            margin: 0;
            min-height: auto;

            .title .ttl {
              font-size: 30px;
            }
          }

          img {
            display: none;
          }
        }

        &.head--reverse {
          .container {
            .content {
              margin: 0;
            }

            img {
              display: none;
            }
          }
        }
      }
    }

    @media screen and (max-width: 428px) {
      &,
      &.head--reverse {
        .container {
          .content {
            padding: 34px 13px;

            .title {
              .ttl {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
  /* END: Head */
}
/*END:service */
