@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import '../abstracts/mixin';

/* common */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playball', cursive;
  font-size: 16px;
  margin: 0;
  color: var(--color-text-primary);
  transition: all 0.4s;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

ul,li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/* END: common */

/* .no-content */
.no-content {
  margin: 80px auto 100px;
  text-align: center;
  color: #cfcfcf;
}
/* END: .no-content */
