/* Footer */
.footer {
  border-top: 2px solid #df4759;
  background: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

/*END: Footer*/

/*Responsive*/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 15px;
  }
}

/*END: Responsive*/

/* Loading */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.ldio-59tpwv0nqwl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */

  div {
    left: 47px;
    top: 21.5px;
    position: absolute;
    animation: ldio-59tpwv0nqwl linear 1s infinite;
    background: #8271fe;
    width: 6px;
    height: 15px;
    border-radius: 3px / 7.5px;
    transform-origin: 3px 28.5px;
    box-sizing: content-box;

    &:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -0.9166666666666666s;
      background: #8271fe;
    }

    &:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -0.8333333333333334s;
      background: #8271fe;
    }

    &:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.75s;
      background: #8271fe;
    }

    &:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.6666666666666666s;
      background: #8271fe;
    }

    &:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.5833333333333334s;
      background: #8271fe;
    }

    &:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.5s;
      background: #8271fe;
    }

    &:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.4166666666666667s;
      background: #8271fe;
    }

    &:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.3333333333333333s;
      background: #8271fe;
    }

    &:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.25s;
      background: #8271fe;
    }

    &:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.16666666666666666s;
      background: #8271fe;
    }

    &:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.08333333333333333s;
      background: #8271fe;
    }

    &:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
      background: #8271fe;
    }
  }
}

.loadingio-spinner-spinner-qt7f9s7xrdq {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

@keyframes ldio-59tpwv0nqwl {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
/* END: Loading */

/* END: back-top */
.back-top {
  position: fixed;
  right: 16px;
  bottom: 50px;
  outline: 0;
  z-index: 3;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  animation: dropdown 1s infinite;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 768px){
    & {
      width: 40px;
      height: 40px;
    }
  }
}

@keyframes dropdown {
  0% {
    bottom: 50px;
  }
  30% {
    bottom: 52px;
  }
  30% {
    bottom: 54px;
  }
  60% {
    bottom: 56px;
  }
  100% {
    bottom: 50px;
  }
}
/* END: back-top */
