/* Header PC*/
.block-header {
  @include absolute($top: 0, $left: 0);
  background-color: transparent;
  width: 100%;
  z-index: 9;

  &.header-child {
    position: relative;
    background-color: #2f5aa8;
    height: 70px;

    .header-inner {
      height: 100%;

      .head {
        height: 100%;

        .toggle .line {
          background: #fff;
        }

        .logo {
          padding: 0;

          .custom-logo-link {
            display: block;
          }

          .custom-logo-color {
            display: none;
          }
        }

        .nav {
          .head-menu {
            .menu-item {
              a {
                color: var(--color-text-secondary);
              }
            }

            .menu-lnk-jp a {
              border: 1px solid rgba(255, 255, 255, 0.2);

              &:hover {
                color: var(--color-main);
                border-color: var(--color-main);
              }
            }

            .menu-item-has-children {
              .sub-menu {
                .menu-item {
                  a {
                    color: #333;

                    &:hover {
                      color: var(--color-main);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .head {
    @include flexbox($align: center, $justify: space-between);
    flex-wrap: nowrap;

    .toggle {
      display: none;
      width: 30px;

      .line {
        width: 100%;
        height: 3px;
        // background: var(--color-text-secondary);
        background: #454545;
        margin-bottom: 5px;
        transition: all 0.3s;

        &:nth-child(2) {
          width: 20px;
        }

        &:last-child {
          width: 10px;
          margin-bottom: 0;
        }
      }
    }

    .logo {
      padding: 34px 0;

      .custom-logo-link,
      .custom-logo-color {
        img {
          width: auto;
          display: block;
          height: 32px;
          object-fit: cover;
        }
      }

      .custom-logo-link {
        display: none;
      }

      .custom-logo-color {
        display: block;
      }
    }

    &-menu {
      display: flex;

      .menu-item {
        padding: 10px 15px;

        a {
          // color: var(--color-text-secondary);
          color: #454545;
          font-weight: 400;
          position: relative;
          cursor: pointer;

          &::after {
            content: "";
            @include absolute($bottom: -6px, $left: 0);
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
            background-color: var(--color-main);
          }

          &.active,
          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }

          &.active {
            font-weight: bold;
          }
        }

        &.menu-lnk-jp {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;

          a {
            border: 1px solid rgba(69, 69, 69, 0.2);
            border-radius: 4px;
            display: inline-block;
            padding: 5px 15px;

            &:hover {
              color: var(--color-main);
              border-color: var(--color-main);
              transition: all 0.2s linear;

              &::after {
                display: none;
              }
            }
          }
        }

        &:hover {
          .sub-menu {
            display: block;
          }
        }

        .sub-menu {
          display: none;
          margin-top: 10px;
          position: absolute;
          box-shadow: 12px 12px 24px #0000001a;
          border-radius: 4px;
          background-color: var(--color-text-secondary);
          min-width: 180px;

          .menu-item {
            padding: 10 18.5px;

            &:first-child {
              padding-top: 24px;
            }

            &:last-child {
              padding-bottom: 24px;
            }

            &:not(:first-child) {
              padding-top: 0;
            }

            a {
              color: #333;
              font-weight: 400;
              transition: all 0.2s linear;

              &:hover {
                color: var(--color-main);
              }

              &::after {
                background-color: transparent;
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  &.fixed {
    position: fixed;
    box-shadow: 2px 2px 4px 0 rgba(10, 2, 4, 0.2);
    background-color: #2f5aa8;
    z-index: 10;
    height: 70px;

    .header-inner {
      height: 100%;

      &.fixed {
        animation: 0.35s ease-in-out running fadeInDown;
        transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      .head {
        height: 100%;

        .toggle {
          .line {
            background: var(--color-text-secondary);
          }
        }

        .logo {
          padding: 0;

          .custom-logo-link {
            display: block;
          }

          .custom-logo-color {
            display: none;
          }
        }

        .nav {
          .head-menu {
            .menu-item {
              a {
                color: var(--color-text-secondary);
              }
            }
            .menu-lnk-jp {
              a {
                border: 1px solid rgba(255, 255, 255, 0.2);

                &:hover {
                  color: var(--color-main);
                  border-color: var(--color-main);
                }
              }
            }

            .menu-item-has-children {
              .sub-menu {
                .menu-item {
                  a {
                    color: #333;

                    &:hover {
                      color: var(--color-main);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* END: Header PC */

  /* Header SP */
  .header-sp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: -10;
    visibility: hidden;
    opacity: 0;

    .wrapper {
      transform: translateX(-100%);
      max-width: 325px;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 85%;
      height: 100%;
      background-color: #2f5aa8;
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);

      .head {
        padding: 0 16px;
        height: 70px;
        justify-content: space-between;

        .logo {
          padding: 0;

          .custom-logo-link {
            display: block;
          }
        }

        .toggle {
          position: unset;

          .line {
            background-color: #fff;
          }
        }
      }

      .header-sp-menu {
        overflow-y: auto;
        flex: 1;

        .menu-item {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding: 12px 16px;
          a {
            font-weight: 400;
            color: #fff;
            display: block;
            line-height: 1.4;
            cursor: pointer;

            &.active,
            &:hover {
              color: var(--color-main);
            }
          }

          &.menu-item-has-children {
            position: relative;

            a {
              display: inline-block;
              position: relative;
              z-index: 1;
            }

            .header-sp-arrow {
              @include absolute($top: 0, $right: 0);
              color: #fff;
              display: block;
              cursor: pointer;
              padding: 14px 16px;
              width: 100%;
              text-align: right;

              i {
                transition: all 0.2s linear;
              }

              &:hover {
                color: var(--color-main);
              }

              &.show-menu {
                i {
                  transition: all 0.2s linear;
                  transform: rotate(180deg);
                }
                & + a {
                  font-weight: 700;
                }
              }
            }

            .sub-menu {
              display: none;
              margin-top: 16px;

              .menu-item {
                border-bottom: unset;
                padding: 10px 0;

                a {
                  margin-left: 16px;
                  transition: all 0.2s linear;
                  display: inline-block;
                  position: relative;

                  &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    background-color: #ffb4a9;
                  }

                  &.active,
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .contact {
        position: relative;
        @include flexbox($align: center, $justify: space-between);
        width: 100%;
        background-color: #09193233;

        .email {
          @include flexbox($align: center, $justify: center);
          flex: 1;

          .content {
            margin-left: 9px;

            .ttl,
            .txt {
              font-weight: 700;
              color: #fff;
              transition: all 0.2s linear;
            }

            .ttl {
              text-transform: uppercase;
            }

            .txt:hover {
              color: var(--color-main);
              border-bottom: 1px solid var(--color-main);
            }
          }
        }

        .social {
          padding: 9px 16px;
          border-left: 1px solid rgba(255, 255, 255, 0.2);

          .lnk {
            display: block;
            transition: all 0.2s linear;

            &:first-child {
              margin-bottom: 10px;
            }

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  /* END: Header SP */
}

/* Show menu SP */
.isOpen {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  -ms-touch-action: none;

  .block-header {
    .head {
      .toggle {
        width: 24px;
        height: 24px;

        .line {
          background-color: #333;

          &:first-child {
            margin: 0;
            width: 33px;
            transform: rotate(45deg) translate(4px, 10.5px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            width: 33px;
            transform: rotate(-45deg) translate(-3px, -3.5px);
          }
        }
      }
    }

    .header-sp {
      z-index: 10;
      visibility: visible;
      opacity: 1;

      .wrapper {
        transform: translateX(0%);
      }
    }
  }
}
/* END: show menu SP */

/* Responsive */
@media screen and (max-width: 1199px) {
  .block-header {
    .head {
      justify-content: center;
      position: relative;

      .toggle {
        @include absolute($left: 0);
        display: block;
      }

      .logo {
        padding: 24px 0;
      }

      .nav {
        display: none;
      }
    }

    .header-sp {
      display: block;
    }
  }
}

@media screen and (max-width: 575px) {
  .block-header {
    .header-inner,
    .header-sp {
      .head .logo {
        .custom-logo-link,
        .custom-logo-color {
          img {
            height: 27px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .block-header .wrapper .contact .email .content .txt {
    font-size: 14px;
  }
}
/* END: Responsive */

/* Keyframes */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
/* END: keyframes */
